.title {
  font: {
    size: 28px;
    weight: 400;
  }
  color: var(--font-color);
}

.main-title {
  font-size: 22px !important;
  letter-spacing: 0.055em;
  font-weight: 600 !important;
}

.tag-line {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.title-lg{
  font-size: 18px;
}
.title-md{
  font-size: 16px;
}
.title-sm{
  font-size: 14px;
  color: #d9d9d9;
}

.heading {
  font: {
    size: 16px;
    weight: 400;
  }
  color: var(--font-color);

  &-sm {
    font: {
      size: 14px;
      weight: 400;
    }
    color: var(--font-color);
  }
}


li {
  font-size: 13px;
  line-height: 1.6;
  color: var(--white-dim);
}
